<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7 charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> 牧游网络 | 管理中心 | <?php echo isset($working) ? $working : '后台管理'?></title>
    <link href="/public/admin/css/admin.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        <!--
        body {background: #fcfdff}
        -->
    </style>
    <!--<link href="/public/admin/images/skin.css" rel="stylesheet" type="text/css" />-->
    <link rel="stylesheet" href="/public/kindeditor/themes/default/default.css" />
    <link rel="stylesheet" href="/public/kindeditor/plugins/code/prettify.css" />
    <script type="text/javascript" src="/public/js/jquery-1.8.2.js"></script>
    <script charset="utf-8" src="/public/kindeditor/kindeditor.js"></script>
    <script charset="utf-8" src="/public/kindeditor/lang/zh_CN.js"></script>
    <script type="text/javascript" src="/public/js/region.js"></script>
    <script type="text/javascript" src="/public/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/public/admin/js/admin.js"></script>
    <script type="text/javascript" src="/public/admin/js/admin_ecm.js"></script>
    <script type="text/javascript" src="/public/admin/js/ecmall.js"></script>

<body>
<style type="text/css">
    /*.paddingTop{padding-top:5px;}*/
    /*.line-h{line-height:26px;}*/
    /*.tdare .goodsImg{width:170px;float:left;margin-right:10px}*/
    /*.gray1{color:#999;}*/
</style>
